name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  format:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup pesde
        uses: ewd3v/setup-pesde@v0.1.1

      - name: Check formatting
        run: ./scripts/format_check.sh

  analyze:
    name: Analyze and lint Luau files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup pesde
        uses: ewd3v/setup-pesde@v0.1.1

      - name: Analyze
        run: ./scripts/analyze.sh

  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup pesde
        uses: ewd3v/setup-pesde@v0.1.1

      - name: Setup Luau
        uses: ewd3v/setup-luau@v0.1.0

      - name: Run tests
        run: ./scripts/test.sh
